@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__link/cards__link.css);

.cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  justify-items: center;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .cards {
    gap: 16px;
  }
}
