
.intro__btn {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  text-transform: uppercase;
  color: #F7941E;

  box-sizing: border-box;
  width: 200px;
  height: 60px;

  outline: none;
  box-shadow: none;
  background: none;
  border: 1px solid #F7941E;
  border-radius: 5px;

  padding: 0;
  margin: 0;
}

.intro__btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #F7941E;
}
