
.sign-up__title {
  font-size: 32px;
  font-weight: normal;
  line-height: 45px;

  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .sign-up__title {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 350px) {
  .sign-up__title {
    font-size: 22px;
    line-height: 1.2;
  }
}

