
.footer__social-links {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  box-sizing: border-box;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 72px;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .footer__social-links {
    padding-top: 23px;
    padding-bottom: 36px;
  }
}