
.header__row-links {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 22px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .header__row-links {
    flex-flow: column nowrap;
    align-items: center;
  }
}
