
.sign-up__btn {
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  box-sizing: inherit;
  width: 200px;
  height: 48px;

  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 5px;

  padding: 0;
  margin: 0;
  transition: .7s ease-in-out;
}

.sign-up__btn:first-of-type {
  margin-right: 16px;
}