
.sign-up__btn {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #000;
  text-align: center;
  text-transform: uppercase;

  background-color: inherit;
  box-sizing: inherit;
  width: 200px;
  height: 48px;

  outline: none;
  border: 1px solid #000;
  box-shadow: none;
  border-radius: 5px;

  padding: 0;
  margin: 0;
  transition: .7s ease-in-out;
}

.sign-up__btn:first-of-type {
  margin-right: 16px;
}

.sign-up__btn:hover {
  color: #fff;
  background-color: #231F20;
}