@import url(./__header/sign-up__header.css);
@import url(./__title/sign-up__title.css);
@import url(./__subtitle/sign-up__subtitle.css);
@import url(./__btn/sign-up__btn.css);

.sign-up {
  background-color: #F7941E;
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  box-sizing: border-box;
  width: 100%;
  min-height: 240px;
  padding: 0 235px 0 235px;
  margin: 0;
}