
.cards__item {
  color: #000;
  background-color: #fafafa;

  box-sizing: inherit;
  width: auto;
  height: 100vh; 
  max-height: 436px;

  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

.cards__item:hover {
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
}



