
.cards__title {
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  box-sizing: inherit;
  padding: 24px;
  padding-bottom: 74px;
  margin: 0;
}

@media screen and (max-height: 430px) {
  .cards__title {
    padding-bottom: 16px;
  }
}
