@import url(./__row/intro__row.css);
@import url(./__header/intro__header.css);
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__btn/intro__btn.css);
@import url(./__btn/_action/intro__btn_action_find.css);
@import url(./__image/intro__image.css);

.intro {
  box-sizing: border-box;
  background-color: #F1F1F2;

  padding: 0;
  margin: 0;
}