
.intro__subheader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  box-sizing: content-box;
  width: 70%;
  max-width: 441px;
  height: 60%;
  max-height: 332px;

  padding: 0;
  padding-top: 60px;
  padding-right: 54px;
  margin: auto;
}

@media screen and (max-width: 1350px) {
  .intro__subheader {
    padding: 0;
  }
}

@media screen and (max-width: 710px) {
  .intro__subheader {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 640px) {
  .intro__subheader {
    align-items: center;
  }
}
