
.header__link {
  font-family: Gilroy, Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}