@import url(./__main-card/blog__main-card.css);
@import url(./__image/blog__image.css);
@import url(./__header/blog__header.css);
@import url(./__author/blog__author.css);
@import url(./__title/blog__title.css);
@import url(./__link/blog__link.css);

.blog {
  background-color: #fff;

  box-sizing: border-box;
  width: 90%;
  max-width: 1170px;

  padding: 0;
  padding-top: 88px;
  padding-bottom: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .blog {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  .blog {
    padding-top: 28px;
    padding-bottom: 20px;
  }
}
