
@import url(./__row-links/footer__row-links.css);
@import url(./__row-link/footer__row-link.css);
@import url(./__text-link/footer__text-link.css);
@import url(./__social-links/footer__social-links.css);
@import url(./__social-link/footer__social-link.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__copyright-text/footer__copyright-text.css);

.footer {
  background-color: #fafafa;

  box-sizing: border-box;
  width: 100%;
  padding: 0 220px 0 220px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    padding-left: 7%;
    padding-right: 7%;
  }
}