
.intro__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: minmax(266px, min-content);
  grid-auto-rows: minmax(266px, min-content);

  box-sizing: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}