
.intro__title {
  font-size: 56px;
  line-height: 69px;

  padding: 0;
  margin: 0;
  transition: .7s ease-in-out;
}

@media screen and (max-width: 950px) {
  .intro__title {
    font-size: 40px;
    line-height: 49px;
  }
}

@media screen and (max-width: 700px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
